.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35
}
.sidebar_search{
    display: flex;
    align-items: center;
    height: 10px;
    padding: 10px;

}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    
    border-radius: 20px;
}
.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
}
.sidebar_searchContainer>.MuiSvgIcon-root:hover {
    cursor: pointer;
}

.sidebar_searchContainer > input{
  border: none;
  height: 20px;
  margin-left: 10px;  
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root{
   margin-right: 2vw;
   font-weight: 24px !important; 
}

.sidebar_chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}